.bg-img{
    background-image: url(../img/login_wallpaper.jpg);
    background-size: 100%;
}

.home-container-fixo{
    overflow: scroll;
    width: 100vw;
    padding-bottom: 50px;
}

.home-container-fixo::-webkit-scrollbar {
    display: none;
}

.col-home{
    box-shadow: -2px 5px 12px -2px rgba(0,0,0,0.81);
}

.col-statics{
    border-radius: 5px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #fff;
}

.col-icon-green{
    background-color: green;
    border-radius: 300px;
    color: #fff;
    width: 10px;
}
.col-icon-red{
    background-color: red;
    border-radius: 300px;
    color: #fff;
}
.col-icon-blue{
    background-color: blue;
    border-radius: 300px;
    color: #fff;
}
.col-grafics{
    background-color: #fff;
    border-radius: 5px;
}

.col-calendar{
    background-color: #fff;
    border-radius: 5px;
}