*{
    padding: 0;
    margin: 0;
}

html,body, #root{
    height: 100%;
}

body {
    /*background-image: url(../img/login_wallpaper.jpg); */
    background-color: #f7f7f7;
    background-position: center;
    background-size: 100%;
  }

